<?xml version='1.0' encoding='utf-8'?>
<widget id="com.timmevel.cp-front" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Coud'Pouce</name>
    <description>
        A sample Apache Cordova application for EA Maturation and a future ambitious project.
    </description>
    <icon src="logo-pouce.png" />
    <author email="t.mev@hotmail.fr" href="http://cordova.io">
        Coud'Pouce Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
